@model List<DomainProduct.Entities.ProductImage>

@{
    DomainProduct.Entities.SealStatus tag = new DomainProduct.Entities.SealStatus();
    List<DomainProduct.Entities.SealStatus> tags = new List<DomainProduct.Entities.SealStatus>();

    tag = Session["SealStatusV"] != null ? (DomainProduct.Entities.SealStatus)Session["SealStatusV"] : null;
    tags = Session["SealsStatusV"] != null ? (List<DomainProduct.Entities.SealStatus>)Session["SealsStatusV"] : null;

}

<div class="ui grid">
    <div class="row">
        <div class="column center aligned">
            <div class="ui image" style="display: unset">
                @if (tags != null && tags.Count > 0)
                {
                    <div class="ui top right attached label imagetag seals">
                        @foreach (var _sealStatus in tags)
                        {
                            if (_sealStatus.Name != "Normal")
                            {
                                <img src="@_sealStatus.Image" class="ui image tiny" onerror="imgError(this)">
                            }
                        }
                    </div>
                }


                @if (Model != null && Model.Count() > 0)
                {
                    var productImage = Model.FirstOrDefault();
                    bool hasVideo = !string.IsNullOrWhiteSpace(productImage?.Video?.URL);

                    <div class="produto easyzoom easyzoom--overlay easyzoom--with-thumbnails easyzoom--with-toggle">
                        <a href="@(productImage.ImageHighResolution != null ? productImage.ImageHighResolution : "#" )">
                            @* Tem de Setar aqui a imagem de tamanho maior ZOOM!*@
                            <img id="imagem-padrao" class="img" src="/assets/image/img_default.png" alt="@productImage.ImageAlt" data-src="@productImage.ImageDefault" data-type-media="image" onerror="imgError(this)" width="100%" @(hasVideo ? "style=display:none !important" : "") />
                        </a>
                    </div>

                    <iframe id="video-product" class="video" src="@(productImage?.Video?.URL)" data-src="@(productImage?.Video?.URL)" data-type-media="video" height="315" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" width="100%" allowfullscreen @(hasVideo ? "" : "style=display:none !important")></iframe>

                }
                <button class="ui button basic small toggleZoom mobile only" data-active="false">Habilitar Zoom</button>
            </div>
        </div>
    </div>


    <div class="row one column">
        <div class="column">
            @Html.Partial("~/Views/Product/Details/_Gallery.cshtml", Model)
        </div>
    </div>
</div>
