@model List<DomainCustomer.Entities.EventList>

@{
    ViewBag.Title = "Gerenciar Lista de Eventos";
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumbContent.cshtml";
}

@section breadcrumbs {
    <div class="ui container">
        <div class="ui one column grid stackable middle aligned">
            <div class="row">
                <div class="column">
                    <h1>@ViewBag.Title</h1>
                    <div class="ui breadcrumb text small">
                        <a class="section" href="/">Home</a>
                        <i class="right angle icon divider"></i>
                        <a class="section" href="/customer">Área do Cliente</a>
                        <i class="right angle icon divider"></i>
                        <a class="section">Gerenciar Lista de Eventos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="ui container margin bottom large">
    <div class="row">
        <div class="ui grid">

            <div class="four wide column">
                <div class="ui segment">
                    <div class="content ui left aligned">
                        <div class="header">Nova Lista de Eventos</div>
                    </div>
                    <div class="ui divider"></div>
                    <div class="ui small ui center aligned">
                        <a href="/EventList/NewList"><i class="ui icon big add circle blue"></i></a>
                    </div>
                </div>
            </div>
            @if (Model != null && Model.Any())
            {
                foreach (var lista in Model)
                {
                    <div class="four wide column">
                        <div class="ui segment">
                            <div class="ui small right aligned">
                                <img src="@lista.UrlPicture" class="ui fluid image" />
                                <i class="ui icon big check circle @(@lista.EventDate >= DateTime.Now ? "green" : "red")"></i>
                            </div>
                            <div class="content ui left aligned">
                                @*<div class="header">@lista.Type.ToString()</div>*@
                                @lista.Title<br />
                                @lista.EventDate.ToShortDateString()
                            </div>
                            <div class="ui divider"></div>
                            <div class="ui center aligned">
                                @if (lista.EventDate >= DateTime.Now)
                                {
                                    <a href="@Url.Action("ManagerList", "EventList", new { listId = lista.IdEventList })" class="ui tiny compact icon green button">
                                        <i class="check icon"></i>
                                        Alterar
                                    </a>
                                    <button id="btnShareEventList_@lista.IdEventList" class="ui tiny compact icon green button" data-id="@lista.IdEventList">
                                        <i class="check icon"></i>
                                        Divulgar
                                    </button>
                                }
                                else
                                {
                                    <button class="ui tiny compact icon red button">
                                        <i class="delete icon"></i>
                                        Encerrado
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>

