@model DomainOrder.Result
@{
    ViewBag.Title = "Histórico de Pedidos";
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumbContent.cshtml";
}

@section breadcrumbs {
    <div class="ui container">
        <div class="ui one column grid stackable middle aligned">
            <div class="row">
                <div class="column">
                    <h1>@ViewBag.Title</h1>
                    <div class="ui breadcrumb text small">
                        <a class="section" href="/">Home</a>
                        <i class="right angle icon divider"></i>
                        <a class="section" href="/Customer">Área do Cliente</a>
                        <i class="right angle icon divider"></i>
                        <a class="section" href="/Order">Histórico de Pedidos</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

<div class="ui grid middle aligned left aligned">
    <div class="row two column stackable">
        <div class="column">
            <h4>Histórico de Pedidos</h4>
        </div>
        <div class="column right aligned">
            <div class="ui category searchOrder">
                <div class="ui icon input">
                    <input class="prompt_pedidos" type="text" placeholder="Buscar por pedido">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
    </div>
    @if (Model == null || Model.OrderSimples.Count() == 0)
    {
        <div class="row two column">
            Não foram encontrados pedidos
        </div>
    }
    else
    {
        <div class="row">
            <div class="column">
                <table class="ui padded table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Data</th>
                            <th>Total</th>
                            <th>Forma de Pagamento</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var order in Model.OrderSimples)
                            {
                                <tr>
                                    <td>@order.IdOrder</td>
                                    <td>@order.DateOrder</td>
                                    <td>@string.Format("{0:c}", order.Total)</td>
                                    <td>@order.NamePaymentMethodGateway</td>
                                    <td>@order.NameStatus</td>
                                    <td class="right aligned">
                                        <!-- <button class="ui icon button" data-tooltip="Imprimir Pedido">
                                            <i class="print icon"></i>
                                        </button> -->
                                      <!--  <a class="ui icon yellow button" href="~/Order/RedoOrder/@order.IdOrder" data-tooltip="Refazer Pedido">
                                            <i class="refresh icon"></i>
                                        </a>
                                      -->
                                        <a class="ui icon teal button" href="~/Order/Details/@order.IdOrder" data-tooltip="Visualizar Pedido">
                                            <i class="unhide icon"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

@if (Model.Settings.PageCount > 1)
{
    <div class="ui center aligned grid ">
        <div class="center aligned row">
            <div class="column">
                @Html.Partial("~/Views/Shared/Parts/_PaginationOrder.cshtml", Model.Settings)
            </div>
        </div>
    </div>
}