@model List<DomainCheckout.Entities.PaymentGateway>
@if (Model.Any() && Model.FirstOrDefault().PaymentMethods.Any())
{
    <div class="ui green segment formas-pagamento" id="calculo-parcelamento">
        <div class="ui accordion fluid">
            <div class="title">
                <i class="dropdown icon"></i>
                <span id="btnParcelamento text color black"><strong>Parcelas e formas de pagamento</strong></span>
            </div>
            <div class="content">
                <div class="accordion">
                    @foreach (var method in Model.FirstOrDefault().PaymentMethods.FirstOrDefault().PaymentBrands)
                    {
                        <div class="title">
                            <i class="dropdown icon"></i>
                            @method.Name
                        </div>
                        <div class="content">
                            <div class="ui list">
                                @foreach (var parcelas in method.Installments)
                                {
                                    <span class="item parcelamentos">
                                        <span class="parcelas">@parcelas.InstallmentNumber x</span>
                                        <span class="valor"> @parcelas.Value.ToString("C") </span>
                                        <span class="modelo">(@parcelas.Description)</span>
                                        <span class="total">Total Parcelado: @parcelas.Total.ToString("C")</span>
                                    </span>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}