@model IList<DomainProduct.Entities.Brand>

@if (Model != null && Model.Count() > 0)
{
    <div class="ui container fluid topsellers margin top bottom large">
        <div class="ui container">
            <div class="ui horizontal divider">
                MARCAS
            </div>

            <div class="ui car-marcas slideshow slick-dotted sixteen wide column" data-qtd="6">

                @foreach (var brand in Model)
                {
                    <div class="column">
                        <a href="@brand.UrlFriendly" title="@brand.Name">
                            <img class="ui image centered brands" src="@brand.Logo" alt="@brand.Name" title="@brand.Name" onerror="imgError(this)">
                        </a>
                    </div>
                }

            </div>

            <div class="ui divider hidden"></div>
        </div>
    </div>
}
