@{   

    ViewBag.Title = string.IsNullOrEmpty(LojaCorp.Control.Company._Company.Title) ? LojaCorp.Control.Company._Company.NameStore : LojaCorp.Control.Company._Company.Title;
    Layout = "~/Views/Shared/Base/_Layout.cshtml";

    string PathLogo = "/assets/image/logo/logo.png";

    Uri Url = System.Web.HttpContext.Current.Request.Url;

    string UrlLogo = Url.Scheme + "://" + Url.Host + PathLogo;

}

@section CustomSeo{
    @{

        <meta property="og:title" content="@ViewBag.Title" />
        <meta property="og:image" content="@UrlLogo" />
    }
}

<!-- ~/Views/Shared/Blocks/Banner/_FullBanner.cshtml -->
@Html.Action("fullBanner", "banner")

<!-- ~/Views/Shared/Blocks/_InfoBar.cshtml -->
@Html.Partial("Blocks/_InfoBar")

<div class="featuredProducts">
    <!-- ~/Views/Shared/Blocks/Product/_FeaturedProducts.cshtml -->
    @Html.Action("featuredProducts", "product")
</div>

<!-- ~/Views/Shared/Blocks/_CentralHalfBanner.cshtml -->
@Html.Action("centralHalfBanner", "banner")

<!-- ~/Views/Shared/Blocks/Group/_Groups.cshtml -->
@Html.Action("group", "group")

<!-- ~/Views/Shared/Blocks/_TopSellers.cshtml -->
@Html.Action("topSellers", "product")

<!-- ~/Views/Shared/Blocks/Banner/_FooterHalfBanner.cshtml -->
@Html.Action("footerHalfBanner", "banner")

<!-- ~/Views/Shared/Blocks/Instagram/_InstagramMedia.cshtml -->
@Html.Action("instagramMedia", "company")

<!-- ~/Views/Shared/Blocks/Brand/_Brands.cshtml -->
@Html.Action("brand", "product")
