
@model IList<DomainCompany.Entities.Banner>
@if (Model != null && Model.Any())
{
    <div class="ui fluid container car-banners slick-dotted slideshow" data-qtd="1" data-auto="true" data-arrow="false" data-dots="true">
        @{
            List<DomainCompany.Entities.Banner> bannerRandom = Model.Where(b => b.Random == true).ToList();
            List<DomainCompany.Entities.Banner> bannerNoRandom = Model.Where(b => b.Random == false).ToList();

            foreach (var randombanner in bannerRandom)
            {
                if (randombanner.TypeContent == DomainCompany.Entities.Banner.enumTypeContent.Imagem)
                {
                    <div class="container slideshow-item">
                        <div class="image">
                            <a href="@randombanner.Link" title="@randombanner.Name">
                                <img src="/assets/image/img_default.png" data-src="@randombanner.NameFileImage" class="ui image centered" alt="@randombanner.Name" title="@randombanner.Name" onerror="imgError(this)" />
                            </a>
                        </div>
                    </div>
                }
                else
                {
                    string linkHtml = string.IsNullOrEmpty(randombanner.Link) ? "" : $"<a href='{randombanner.Link}' title='{randombanner.Name}'>";

                    <div class="container slideshow-item">
                        <div class="video">
                            @Html.Raw(linkHtml)
                            <div class="item youtube">
                                <div class="video-wrapper">
                                    <div class="embed-player slide-media ytplayer" id="ytplayer_@randombanner.IdBanner" data-src="@randombanner.UrlVideo"></div>
                                </div>
                            </div>
                            @Html.Raw(linkHtml.Replace("<a", "</a"))
                        </div>
                    </div>
                }
            }
        }
    </div>
    <div class="ui images  middle aligned center aligned">
        @foreach (var banner in bannerNoRandom)
        {
            if (banner.TypeContent == DomainCompany.Entities.Banner.enumTypeContent.Imagem)
            {
                <a href="@banner.Link"><img src="/assets/image/img_default.png" data-src="@banner.NameFileImage" class="ui image" alt="@banner.Name" title="@banner.Name" onerror="imgError(this)" /></a>
            }
            else
            {
                string linkHtml = string.IsNullOrEmpty(banner.Link) ? "" : $"<a href='{banner.Link}' title='{banner.Name}'>";

                <div class="video">
                    @Html.Raw(linkHtml)
                    <div class="item youtube">
                        <div class="video-wrapper">
                            <div class="embed-player slide-media ytplayer" id="ytplayer_@banner.IdBanner" data-src="@banner.UrlVideo"></div>
                        </div>
                    </div>
                    @Html.Raw(linkHtml.Replace("<a", "</a"))
                </div>
            }
        }
    </div>
}
