@model List<DomainCompany.Entities.Banner>
@if (Model != null && Model.Any())
{
    <div class="ui fluid column text center mobile-hide side-halfbanner car-banners slick-dotted slideshow">
        <div class="ui images">
            @foreach (var banner in Model)
            {
                if (banner.TypeContent == DomainCompany.Entities.Banner.enumTypeContent.Imagem)
                {
                    <div class="column">
                        <a href="@banner.Link" title="@banner.Name">
                            <img src="/assets/image/img_default.png" data-src="@banner.NameFileImage" alt="@banner.Name" title="@banner.Name" class="ui image fluid side-halfbanner-image" onerror="imgError(this)">
                        </a>
                    </div>
                }
                else
                {
                    string linkHtml = string.IsNullOrEmpty(banner.Link) ? "" : $"<a href='{banner.Link}' title='{banner.Name}'>";

                    <div class="container slideshow-item">
                        <div class="video">
                            @Html.Raw(linkHtml)
                            <div class="item youtube">
                                <div class="video-wrapper">
                                    <div class="embed-player slide-media ytplayer" id="ytplayer_@banner.IdBanner" data-src="@banner.UrlVideo"></div>
                                </div>
                            </div>
                            @Html.Raw(linkHtml.Replace("<a", "</a"))
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}