@model DomainCheckout.Entities.CartItem

@{ 
    string classe_qtd = "ui icon button ";
    string classe_remove = "ui icon produto right floated ";
    string id_ipt_qtd = "qtd_";
    string classe_stock = "stock_";
    string classe_ipt_qtd = "";

    if (Session["EventList"] != null)
    {
        classe_qtd += "qtdActionEventList";
        classe_remove += "removeItemEventList";
        id_ipt_qtd += Model.IdCartItem;
        classe_stock += Model.IdCartItem;
        classe_ipt_qtd += "event_list";
    }
    else
    {
        classe_qtd += "qtdActionMiniCart";
        classe_remove += "removeCartItem";
        id_ipt_qtd += Model.IdCartItem;
        classe_stock += Model.IdCartItem;
        classe_ipt_qtd += "mini_cart";
    }
}
<div class="item" data-id-produto="@Model.IdProduct" data-id-cart="@Model.IdCartItem"  id="itemCartProduct_@Model.IdCartItem">
    <div class="ui image small">
        <img src="@Model.ProductImage.ImageDefault"  onerror="imgError(this)">
    </div>
    <div class="content">
        <div class="header">
            <a href="/Product/Details/@Model.IdProduct" class="product title" id="name_@Model.IdCartItem">
                @Html.Raw(Model.NameProduct)
                @if(Model.Quantity > 1) {
                    <div>Qtd: @Model.Quantity</div>
                }
            </a>
        </div>
        <div class="meta product avaibility" id="availability_@Model.IdCartItem">
            <span class="price" id="preco_total_@Model.IdCartItem">@string.Format("{0:c}", Model.PriceTotalProduct)</span>
            <div class="@classe_remove " data-id="@Model.IdCartItem" data-id-produto="@Model.IdProduct" data-id-sku="@Model.IdSku">
                <i class="remove icon"></i>
            </div>
        </div>
        @*<div class="description">
            <div class="ui qtd action mini input">
                <button class="@classe_qtd" data-id="@Model.IdCartItem" data-action="minus" data-id-produto="@Model.IdProduct" data-id-sku="@Model.IdSku">
                    <i class="minus icon"></i>
                </button>
                <input type="hidden" id="qtdInicial_@Model.IdCartItem" value="@Model.Quantity"/>
                <input type="hidden" value="@Model.Stock" name="stock_@Model.IdCartItem" id="stock_@Model.IdCartItem"/>
                <input type="number" class="text center" min="0" step="1" size="3" value="@Model.Quantity" name="@Model.IdCartItem" id="qtd_@Model.IdCartItem" data-id="@Model.IdCartItem" data-action="ipt"/>
                <button class="@classe_qtd grey" data-id="@Model.IdCartItem" data-action="plus" data-id-produto="@Model.IdProduct" data-id-sku="@Model.IdSku">
                    <i class="add icon"></i>
                </button>
            </div>
        </div>*@
    </div>
</div>