@{
    ViewBag.Title = "Primeiro acesso? Cadastre-se em nossa loja";
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumbContent.cshtml";
}

@section breadcrumbs {
    <div class="ui container">
        <div class="ui one column grid stackable middle aligned">
            <div class="row">
                <div class="column">
                    <h1 class="text">@ViewBag.Title</h1>
                    <div class="ui breadcrumb text small">
                        <a class="section" href="/">Home</a>
                        <i class="right angle icon divider"></i>
                        <a class="section" href="/Customer">Área do Cliente</a>
                        <i class="right angle icon divider"></i>
                        <div class="active section">Cadastrar na Loja</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="ui grid middle aligned center aligned">
    <div class="row">
        <div class="ten wide computer sixteen wide tablet sixteen wide mobile column">
            <form action="/Customer/Accesskey" class="ui large form" id="form-accesskey" method="post">
                @Html.AntiForgeryToken()
                <div class="ui segment">
                    <div class="ui grid  very relaxed stackable middle aligned grid">
                        <div class="row left aligned">
                            <div class="column">
                                <div class="field required">
                                    <label>E-mail, CPF ou CNPJ</label>
                                    <div class="ui left icon input">
                                        <i class="user icon"></i>
                                        <input type="text" autocomplete="off" name="login" id="login" value="@Session["Login"]" placeholder="E-mail, CPF ou CNPJ"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <a href="/Customer/Login" class="ui animated button large basic left floated">
                                    <div class="visible content">Voltar</div>
                                    <div class="hidden content">
                                        <i class="chevron left icon"></i>
                                    </div>
                                </a>
                                <button id="enviar" type="submit"
                                        class="ui animated button large submit primary right floated continuar"
                                        tabindex="0">
                                    <div class="visible content">Cadastrar</div>
                                    <div class="hidden content">
                                        <i class="arrow right icon"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                        @Html.Action("GetRecaptchaV3", "Company", new {Module = "FirstAccess"})
                    </div>
                </div>
                <div class="ui error message"></div>
            </form>
        </div>
    </div>
</div>



<!-- ~/Views/Shared/Parts/Customer/_Part_Customer_Password.cshtml-->
@Html.Partial("Parts/Customer/_Part_Customer_Password", "/customer/index")

