@model List<DomainCustomer.Entities.EventList>
@{
    ViewBag.Title = "Gerenciar Lista de Eventos";
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumbContent.cshtml";
}
@section breadcrumbs {
    <div class="ui container">
        <div class="ui one column grid stackable middle aligned">
            <div class="row">
                <div class="column">
                    <h1>@ViewBag.Title</h1>
                    <div class="ui breadcrumb text small">
                        <a class="section" href="/">Home</a>
                        <i class="right angle icon divider"></i>
                        <a class="section" href="/customer">Área do Cliente</a>
                        <i class="right angle icon divider"></i>
                        <a class="section">Gerenciar Lista de Eventos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="ui container margin bottom large">
    @if (Model != null && Model.Any())
    {
        <div class="ui icon yellow message">
            <i class="warning circle icon"></i>
            <div class="content">
                <p>Selecione a opção "Divulgar" para que sua lista esteja disponível e seus convidados realizem as compras em nossa loja.</p>
            </div>
        </div>
    }
    <div class="row">
        <div class="ui stackable four column grid">
            <div class="column">
                <div class="ui segment">
                    <div class="ui big horizontal list">
                        <div class="item">
                            <i class="calendar outline large purple icon"></i>
                            <div class="content">
                                <div class="header">Nova Lista de Eventos</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    <div class="ui small ui center aligned">
                        @if (ViewBag.HasEventListTypes == true)
                        {
                            <a href="/EventList/NewList">
                                <i class="ui icon big add circle green"></i>
                            </a>
                        }
                        else
                        {
                            <a id="btnEventListDisabled" href="javascript:void(0)">
                                <i class="ui icon big add circle green disabled"></i>
                            </a>
                        }
                    </div>
                </div>
            </div>
            @if (Model != null && Model.Any())
            {
                foreach (var lista in Model)
                {
                    <div class="column">
                        <div class="ui segment">
                            <div class="ui top right attached label">
                                <span class="text bold">@(lista.EventDate < DateTime.Now ? "Encerrado" : !lista.Status ? "Inativo" : lista.DateDivugaltionList != null ? "Divulgada" : "Ativo")</span>
                            </div>
                            <div class="ui big horizontal list">
                                <div class="item">
                                    <img class="ui avatar image" src="@lista.UrlPicture">
                                    <div class="content">
                                        @*<div class="header">@lista.Type.ToString()</div>*@
                                        <div class="header">@lista.Title</div>
                                        @lista.EventDate.ToShortDateString()
                                    </div>
                                </div>
                            </div>
                            <div class="ui divider"></div>
                            <div class="ui center aligned">
                                @if (lista.EventDate >= DateTime.Now)
                                {
                                    <a href="@Url.Action("ManagerList", "EventList", new {listId = lista.IdEventList})" class="ui tiny compact icon green button">
                                        <i class="check icon"></i>
                                        Alterar
                                    </a>
                                    <button id="btnShareEventList_@lista.IdEventList" class="ui tiny compact icon @(lista.Status ? "green" : "disabled") button" data-id="@lista.IdEventList">
                                        <i class="check icon"></i>
                                        Divulgar
                                    </button>
                                }
                                else
                                {
                                    <button class="ui tiny compact icon red button">
                                        <i class="delete icon"></i>
                                        Encerrado
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>