@model List<DomainCheckout.Entities.PaymentGateway>
<div class="descontos ui divided relaxed list">
    @foreach (var gateway in Model)
    {
        foreach (var method in gateway.PaymentMethods)
        {
            foreach (var brand in method.PaymentBrands)
            {
                if (brand.Discount > 0)
                {
                    if (brand.typeDiscount == DomainCheckout.Entities.typeDiscount.FirstInstalment)
                    {
                        <div class="item">
                            <div class="content">
                                <p class="header text small color grey regular">
                                    <span>
                                        Pagando com <strong>@brand.NamePayment</strong> ganhe <strong>@brand.Discount%</strong> de desconto na primeira parcela.
                                    </span>
                                </p>
                                <p class="text small color grey aligned right description">
                                    Total com desconto: <strong class="text color black">@($"{(brand.Installments.Any() ? brand.Installments.FirstOrDefault().Total : 0):c}")</strong>
                                </p>
                            </div>
                        </div>
                    }
                    else
                    {
                        if (brand.Installments.Count() > 0)
                        {
                            <div class="item">
                                <div class="content">
                                    <p class="header text small color grey regular">
                                        <span>
                                            Pagando com @brand.NamePayment ganhe @brand.Discount% de desconto.
                                        </span>
                                    </p>
                                    <p class="text small color grey aligned right description">
                                        Total com desconto: <strong class="text color black">@string.Format("{0}", brand.Installments != null && brand.Installments.Count() > 0 ? brand.Installments.FirstOrDefault().Total.ToString("C") : "0")</strong>
                                    </p>
                                </div>
                            </div>
                        }
                    }
                }
            }
        }
    }
</div>