@model DomainCheckout.Entities.Cart
<div class="ui segment green">
<div class="ui accordion resumo">
    <div class="active title">
        <i class="ui icon calculator"></i>
        <strong>Resumo do Carrinho</strong>
        <i class="ui icon dropdown floated right"></i>
    </div>
    <div class="active content">
        <div class="ui fluid items divided card-checkout">
            <div class="item">
                <div class="content">
                    <div class="description">
                        <span>Subtotal</span>
                        <span class="ui floated right">@string.Format("{0:c}", Model.SubTotal != null ? Model.SubTotal : 0)</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="description">
                        <span>Desconto</span>
                        <span class="ui floated right" id="desconto_checkout" data-discount-initial="@(Model.TotalDiscount != null ? Model.TotalDiscount : 0)">@string.Format("{0:c}", Model.TotalDiscount != null ? Model.TotalDiscount : 0)</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="description">
                        <span>Frete</span>
                        <span class="ui floated right">@string.Format("{0:c}", Model.TotalShipping != null ? Model.TotalShipping : 0)</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="description">
                        <span>Total</span>
                        <strong class="ui floated right text color green big" id="total_checkout">
                            @string.Format("{0:c}", Model.Total != null ? Model.Total : 0)
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>