@model DomainProduct.Entities.Brand

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumbLeftSideBar.cshtml";
}

@section CustomSeo {
    @{
        if (!String.IsNullOrEmpty(Model.MetaDescription))
        {
            <meta name="Description" content="@Model.MetaDescription">
        }
    }
}

@section breadcrumbs {
    <div class="ui container">
        <div class="ui two column grid stackable middle aligned">
            <div class="row">
                <div class="column">
                    <h1>@ViewBag.Title</h1>
                </div>
                <div class="column right floated right aligned breadcrumbs">
                    <div class="ui breadcrumb">
                        <a class="section" href="/">Home</a>
                        <i class="right angle icon divider"></i>
                        <div class="active section">@(Model != null ? Model.Name : "")</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

    @section banner {
        @if (Model != null)
        {
            <div class="sixteen wide column">
                <!-- ~/Views/Shared/Blocks/Banner/_FullBanner.cshtml -->
                @Html.Action("CentralHalfBannerBrand", "Banner", new { brandID = Model.IdBrand })
            </div>
        }
    }


@section filters {
    <div class="four wide column filterColumn">
        <div class="row one column">

            <!-- Page: ~/Views/Shared/Common/_FilterMenu.cshtml -->
            @Html.Action("FilterMenu", "Product")
            <div class="ui divider hidden"></div>
            
            <!-- Page: ~/Views/Shared/Blocks/Banner/_SideHalfBanner.cshtml -->
            @Html.Action("SideHalfBannerBrand", "Banner", new { brandId = Model.IdBrand })
        </div>
    </div>
}

<div class="twelve wide column">
    <div class="ui grid">
        <div class="row two column">

            <div class="mobile only left floated column">
                <button class="ui labeled icon blue button filterbutton" data-tooltip="Filtros" data-inverted="">
                    <i class="filter icon"></i>
                    Filtros
                </button>
            </div>

            <div class="column right aligned right floated">
                <div class="ui dropdown button dropdownorder">
                    <span class="text">Ordenar por</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="lancamentos">
                            <i class="asterisk icon"></i>
                            Lançamentos
                        </div>
                        <div class="item" data-value="mais_vendidos">
                            <i class="diamond icon"></i>
                            Mais Vendidos
                        </div>
                        <div class="item" data-value="nome_a_z">
                            <i class="sort alphabet ascending icon"></i>
                            Nome [A-Z]
                        </div>
                        <div class="item" data-value="nome_z_a">
                            <i class="sort alphabet descending icon"></i>
                            Nome [Z-A]
                        </div>
                        <div class="item" data-value="menor_preco">
                            <i class="sort numeric ascending icon"></i>
                            Preço [Menor-Maior]
                        </div>
                        <div class="item" data-value="maior_preco">
                            <i class="sort numeric descending icon"></i>
                            Preço [Maior-Menor]
                        </div>
                    </div>
                </div>
                <button id="viewgrid" class="ui icon button viewgrid mobile hide" data-tooltip="Grid" data-inverted="">
                    <i class="grid layout icon"></i>
                </button>
                <button id="viewlist" class="ui icon button viewlist mobile hide" data-tooltip="Lista" data-inverted="">
                    <i class="list layout icon"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="list">
        <!-- ~/Views/Shared/Blocks/Product/_ProductsCategoryList.cshtml -->
        <!-- ~/Views/Shared/Blocks/Product/_ProductsCategoryGrid.cshtml -->
        @if (Model != null)
        {
            <div class="brandProducts">
                @Html.Action("GetProducts", "Product", new
           {
               category = Request.QueryString["c"] ?? "",
               viewList = Request.QueryString["v"] ?? "",
               pageNumber = Request.QueryString["p"] ?? "",
               pageSize = 10, order = Request.QueryString["o"] ?? "",
               brand = Model.IdBrand, group = Request.QueryString["g"] ?? "",
               idAttribute = Request.QueryString["idAttribute"] ?? ""
           })
            </div>
        }
    </div>
</div>
<!-- ~/Views/Shared/Blocks/Brand/_Brands.cshtml -->
@Html.Action("Brand", "Product")

@section custom_js{
    <script>
        window.filterManipulation = { idBrand: @Model.IdBrand };
    </script>
}